.wrapper {
  background-color: #fff;

  height: 100vh;
  width: 100vw;
  // position: relative;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: var(--maxWidth);
  height: 100vh;
  position: relative;
  z-index: 1000;
  // display: flex;
  // justify-content: center;
  // align-items: center;

  &2 {
    padding-inline: var(--spacing);

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.nav {
  width: 100%;
}

.social {
  font-size: 36px;
  margin-right: var(--spacing);
  transform: translateX(25px);

  @media only screen and (max-width: 768px) {
    display: none;
  }

  top: 150px;
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  z-index: 5000;

  a {
    padding-right: 20px;

    &:first-of-type {
      padding-left: 10px;
    }
  }
}

.starIcon {
  font-size: 21px;
  position: absolute;

  path {
    fill: var(--black) !important;
  }

  &:first-of-type {
    top: 18%;
    left: 25%;

    path {
      fill: var(--primary) !important;
    }
  }

  &:nth-of-type(2) {
    bottom: 23%;
    left: 10%;
  }

  &:nth-of-type(3) {
    right: 15%;
    top: 57%;
  }
}

.title1 {
  width: 322px;
  height: 322px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  position: relative;

  @media only screen and (min-width: 768px) {
    display: none;
  }

  &Blob {
    width: 100%;
    height: 100%;
    position: absolute;
    background: radial-gradient(
      50% 50% at 50% 50%,
      #e768f2 0%,
      rgba(231, 104, 242, 0) 100%
    );
    z-index: -1;

    // &::before {
    //   content: "";
    //   background-image: url("../../public/original.gif");
    //   background-size: cover;
    //   position: absolute;
    //   // opacity: 0.2;
    //   width: 100%;
    //   height: 100%;
    //   border-radius: 50%;
    //   // box-shadow: 0 0 50px 50px transparent inset;
    //   mix-blend-mode: soft-light;
    // }
  }

  &Ellipse {
    width: 80%;
  }

  h1 {
    position: absolute;
    font-weight: 800;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: -1px 0 var(--white), 0 1px var(--white), 1px 0 var(--white),
      0 -1px var(--white);
    z-index: 10;
  }
}

.title2 {
  position: absolute;
  top: 35%;
  right: 0;
  margin-right: var(--spacing);
  text-align: right;

  h1 {
    font-weight: 800;
    font-size: clamp(70px, 6vw, 208px);
    text-transform: uppercase;
    letter-spacing: 0.02em;
  }

  &Items {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 0;
      width: 150px;
      height: 11px;
      background-color: var(--black);
      border-radius: 60%;
    }

    &::before {
      top: -15px;
    }

    &::after {
      bottom: -15px;
    }

    p {
      font-weight: 600;
      font-size: 18px;
      line-height: 23px;
      text-align: right;
      letter-spacing: 0.02em;
    }
  }

  &Details {
    width: 110%;
    position: absolute;
    right: 0;
    margin-top: 120px;
    color: var(--primary);

    b {
      color: inherit;
    }
  }
}

.milkshake {
  position: absolute;
  top: 315px;
  left: 13%;
  // z-index: 5000;
  transform: rotate(-10deg) scale(0.9);
  height: 80vh;
  width: fit-content;

  &Blob {
    width: 1000px;
    height: 1000px;
    background: radial-gradient(
      45.55% 45.55% at 50% 50%,
      #e486ec 0%,
      rgba(220, 71, 233, 0) 100%
    );
    transform: translate(-30%, -35%);
    z-index: 1;
    // opacity: 0;
  }
}

.hours {
  position: absolute;
  bottom: 100px;
  left: 0;
  padding-left: var(--spacing);

  h3 {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
  }
  h4 {
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 1;
  }
}

.downBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15vh;
  position: absolute;
  bottom: 8vh;

  &Button {
    background-color: transparent;
    border: 2px solid var(--black);
    outline: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 69px;
    height: 69px;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      border: 2px solid var(--primary);
    }

    &:hover > svg > g {
      stroke: var(--primary) !important;
    }
  }

  &Icon {
    font-size: 30px;

    g {
      transition: all 0.2s;
    }
  }
}
