:root {
  --black: #333333;
  --white: #ffffff;
  --gray: #e6e7e8;
  --primary: rgb(221, 33, 237);
  --secondary: #7faa3c;
  --pink: rgb(219, 180, 222);

  --spacing: clamp(10px, 7vw, 100px);

  /* media breaks */
  --desktop: 900px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Sora", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

body {
  overflow-y: visible !important;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  word-wrap: break-word;
  line-height: 1.8;
  color: var(--black);
}

#tsparticles canvas {
  position: absolute !important;
}
