.main {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  footer {
    padding-block: 15px;
    border-top: 1px solid var(--gray);
    p {
      font-weight: 300;
      font-size: 12px;

      text-align: center;
    }
  }
}

.overlay {
  background-color: transparent;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1001;
  transition: all 0.3s;
  background-color: rgba(51, 51, 51, 0.719);
}
