.container {
  padding-inline: clamp(10px, 7vw, 100px);
  position: relative;

  img {
    width: 100%;
  }

  p {
    line-height: 2;
  }
}

.blob {
  position: absolute;
  z-index: -1;

  &Green {
    top: -100px;
    left: -100px;
    width: 436px;
    height: 436px;

    background: radial-gradient(
      50% 50% at 50% 50%,
      #92ba54 0%,
      rgba(176, 176, 176, 0) 100%
    );

    &Diamond {
      position: absolute;
      width: 40px;
      height: 100px;
      left: 40%;
      top: 40px;

      img {
        width: 17px;
        height: 33px;
      }

      img:first-of-type {
        position: absolute;
        top: 20px;
        left: 40%;
      }
    }
  }

  &Purple {
    width: 480px;
    height: 480px;

    background: radial-gradient(
      50% 50% at 50% 50%,
      #dd21ed 0%,
      rgba(255, 255, 255, 0) 100%
    );

    &1 {
      top: 45%;
      right: -230px;
    }

    &2 {
      bottom: -540px;
      left: -50px;
    }

    &Diamond {
      position: absolute;
      width: 40px;
      height: 100px;
      left: 45%;
      bottom: 10px;

      img {
        width: 17px;
        height: 33px;
      }

      img:first-of-type {
        position: absolute;
        top: 30px;
        left: -40%;
      }
    }
  }
}

.milkshake {
  margin-block: 100px;

  img {
    width: min(100%, 375px);
    height: 415px;
    object-fit: cover;
    border: 4px solid var(--black);
  }

  h2 {
    font-weight: 600;
    font-size: 24px;
    color: var(--primary);
    letter-spacing: 0.02em;
    margin-top: 25px;
  }

  p {
    margin-top: 20px;
    font-size: 14px;
  }
}

.fruits {
  img {
    width: min(100%, 654px);
    height: auto;
    object-fit: cover;
    border: 4px solid var(--black);
  }

  p {
    margin-top: 30px;
    font-weight: 600;
    font-size: 16px;
  }
}

.facts {
  margin-block: 125px 200px;
  display: flex;
  flex-direction: column;
  font-size: 14px;

  &Item {
    display: grid;
    grid-template-columns: 63.32px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "milkshake title"
      "milkshake text";
    align-items: start;
    column-gap: 40px;
    margin-bottom: 50px;

    img {
      grid-area: milkshake;
    }

    h3 {
      grid-area: title;
      color: var(--primary);
    }

    p {
      grid-area: text;
    }
  }
}
