.container {
  padding-block: 100px;
  background: linear-gradient(180deg, #42464c7a 0%, #4b3b7a7c 100%),
    url("../../public/space.jpg");
  background-size: fill;
  width: 100vw;
  z-index: 1000;

  position: relative;

  @media only screen and (min-width: 900px) {
    padding-block: 160px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.menuTitle {
  width: max-content;
  transform: translateX(-150px);
  // position: absolute;

  @media only screen and (max-width: 900px) {
    display: none;
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 144px;
    color: transparent;
    -webkit-text-stroke: 2px var(--white);
    text-shadow: none;
    line-height: 1;
  }
}

.wrapper {
  padding-inline: var(--spacing);
  width: 100%;
  max-width: var(--maxWidth);

  @media only screen and (min-width: 900px) {
    display: flex;
    justify-content: space-between;
    height: 620px;
    padding-top: 80px;
  }
}

.menuNav {
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;

  display: flex;
  flex-direction: column;

  input[type="radio"] {
    display: none;

    &:checked + label::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: var(--primary);
    }
  }

  label {
    width: fit-content;
    color: var(--pink);
    position: relative;
    cursor: pointer;

    @media only screen and (min-width: 900px) {
      margin-bottom: 10px;
    }

    &:hover::before {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 4px;
      background-color: var(--primary);
      animation: show-option 0.8s;
    }
  }
}

@keyframes show-option {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.mainList {
  max-width: 466px;
  p {
    color: var(--pink);
    margin-block: 20px;
    height: 95px;

    @media only screen and (min-width: 900px) {
      font-weight: 800;
      font-size: 30px;
      margin-block: 0 30px;
      line-height: 1.3;
      border-bottom: 2px solid var(--pink);
    }
  }

  .text2 {
    line-height: 1.5;
  }

  path {
    fill: var(--pink);
  }
}

.table {
  width: 100%;
  text-align: right;
  text-transform: uppercase;
  border-collapse: separate;
  border-spacing: 10px 0;

  &Container {
    height: 530px;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: rgba(241, 241, 241, 0.2);
      border-radius: 5px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: var(--pink);
      border-radius: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #b570bb;
    }
  }

  tbody > * > * {
    color: var(--pink);
  }

  thead > * > * {
    color: var(--pink);
  }

  &Name {
    text-align: left;
    padding-bottom: 10px;
  }
}

.promotions {
  text-align: right;
  margin-top: 100px;
  font-weight: 800;
  max-width: 400px;
  position: relative;

  @media only screen and (min-width: 900px) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  & > * {
    color: var(--white);
    letter-spacing: 0.02em;
    font-size: 18px;
    z-index: 100;

    @media only screen and (min-width: 900px) {
      font-size: 24px;
    }
  }

  &Icon {
    font-size: 400px;
    position: absolute;
    top: -42%;
    right: -32%;
    z-index: 1;

    path {
      color: rgba(246, 141, 255, 0.25) !important;
    }

    @media only screen and (max-width: 900px) {
      display: none;
    }
  }

  h3 {
    color: var(--white);

    @media only screen and (min-width: 900px) {
      line-height: 1;
    }
  }

  a {
    text-transform: uppercase;
    color: #e768f2;
    text-decoration: underline;

    @media only screen and (min-width: 900px) {
      margin-bottom: auto;
    }

    &:hover {
      color: var(--primary);
    }
  }

  p {
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
  }
}

.star {
  position: absolute;
  path {
    fill: var(--white);
  }

  &:nth-child(1) {
    font-size: 64px;
    right: 10%;
    margin-top: -5%;
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }

  &:nth-child(2) {
    font-size: 64px;
    left: 15%;
    bottom: 35%;
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }

  &:nth-child(3) {
    font-size: 35px;
    right: 30%;
    bottom: 30%;
    @media only screen and (max-width: 900px) {
      display: none;
    }
  }

  &:nth-child(4) {
    font-size: 35px;
    left: 40%;
    bottom: 8%;
  }
}

.sale {
  position: absolute;
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 3%;
  bottom: 9%;

  @media only screen and (max-width: 900px) {
    left: auto;
    right: 0%;
    top: 3%;
    bottom: auto;
    width: 150px;
    height: 150px;

    svg {
      animation: rotate-star 8s infinite linear;
    }
  }

  &:hover svg {
    animation: rotate-star 8s infinite linear;
  }

  &:hover path,
  h2 {
    cursor: pointer;
  }

  svg {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 1;
  }

  svg path {
    color: var(--primary);
  }

  h2 {
    color: var(--white);
    z-index: 2;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.4;
    font-size: 18px;
    font-weight: 800;
    max-width: 70px;

    @media only screen and (min-width: 900px) {
      font-size: 36px;
      font-weight: 800;
      max-width: 150px;
    }
  }
}

@keyframes rotate-star {
  100% {
    transform: rotate(360deg);
  }
}
